.update-pin {
    padding: 20px;
    text-align: center;
  }
  
  .update-pin h2 {
    font-size: 24px;
  }
  
  .update-pin form {
    margin-top: 20px;
  }
  
  .update-pin label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .update-pin input {
    padding: 10px;
    font-size: 16px;
  }
  
  .update-pin button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  